<div class="bgimage" style="background:no-repeat;width:100%;height:20%;padding-top:15px;">
  <div class="row">

      <!--Grid column-->
      <div class="col-md-12">

          <!-- Card -->
          <div class="card card-cascade wider reverse my-4">

              <!-- Card image -->
              <div class="view view-cascade overlay">
                  <img class="card-img-top" src="../images/beverages-brunch-cocktail-5317.jpg" style="opacity:0.3" alt="Card image cap">
                  <a href="#!">
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                  <!-- Title -->
                  <h4 class="card-title"><strong>  </strong></h4>
                  <!-- Subtitle -->
                  <h6 class="font-weight-bold indigo-text py-2"></h6>
                  <!-- Text -->
                  <p class="card-text">
                      Welcome to DineOServe, One stop search for a restaurant/bar, book a table, order and pay the bill.
                  </p>

                  <!-- Linkedin -->
                  <a class="px-2 fa-lg li-ic"><i class="fa fa-linkedin"></i></a>
                  <!-- Twitter -->
                  <a class="px-2 fa-lg tw-ic"><i class="fa fa-twitter"></i></a>
                  <!-- Dribbble -->
                  <a class="px-2 fa-lg fb-ic"><i class="fa fa-facebook"></i></a>

              </div>

          </div>
          <!-- Card -->

      </div>
      <!--Grid column-->

  </div>
</div>
<div class="row">
  <div class="col-md-6">

      <!-- Card -->
      <div class="card card-image mb-3" style="background-image: url('../images/blur-breakfast-chef-262978.jpg');">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                  <h5 class="pink-text">
                      <i class="fas fa-utensils"></i> Restaurants
                  </h5>
                  <h3 class="card-title pt-2">
                      <strong>This is card title</strong>
                  </h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                      Odit sed qui, dolorum!.
                  </p>
                  <a class="btn btn-pink waves-effect waves-light">
                      <i class="fa fa-clone left"></i> View more
                  </a>
              </div>
          </div>
          <!-- Content -->
      </div>
      <!-- Card -->

  </div>

  <div class="col-md-6">
      <div class="card card-image mb-3" style="background-image: url('../images/adult-bar-blur-696218.jpg');">
          <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
              <div>
                  <h5 class="orange-text">
                      <i class="far fa-wine-glass"></i> Bars
                  </h5>
                  <h3 class="card-title pt-2">
                      <strong>This is card title</strong>
                  </h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                      Odit sed qui, dolorum!.
                  </p>
                  <a class="btn btn-deep-orange waves-effect waves-light">
                      <i class="fa fa-clone left"></i> View more
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Section: Products v.4 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Top Restaurants</h2>
  <!-- Section description -->
  <!--<p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>-->

  <!-- Grid row -->
  <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
          <!-- Collection card -->
          <div class="card collection-card z-depth-1-half">
              <!-- Card image -->
              <div class="view zoom">
                  <img src="http://everything-pr.com/wp-content/uploads/2015/08/Restaurant.jpg" class="img-fluid" alt="">
                  <div class="stripe dark">
                      <a>
                          <p>
                              Restaurant1
                              <i class="fa fa-angle-right"></i>
                          </p>
                      </a>
                  </div>
              </div>
              <!-- Card image -->
          </div>
          <!-- Collection card -->
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
          <!-- Collection card -->
          <div class="card collection-card z-depth-1-half">
              <!-- Card image -->
              <div class="view zoom">
                  <img src="http://everything-pr.com/wp-content/uploads/2015/08/Restaurant.jpg" class="img-fluid" alt="">
                  <div class="stripe light">
                      <a>
                          <p>
                              Restaurant2
                              <i class="fa fa-angle-right"></i>
                          </p>
                      </a>
                  </div>
              </div>
              <!-- Card image -->
          </div>
          <!-- Collection card -->
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
          <!-- Collection card -->
          <div class="card collection-card z-depth-1-half">
              <!-- Card image -->
              <div class="view zoom">
                  <img src="http://everything-pr.com/wp-content/uploads/2015/08/Restaurant.jpg" class="img-fluid" alt="">
                  <div class="stripe dark">
                      <a>
                          <p>
                              Restaurant3
                              <i class="fa fa-angle-right"></i>
                          </p>
                      </a>
                  </div>
              </div>
              <!-- Card image -->
          </div>
          <!-- Collection card -->
      </div>
      <!-- Grid column -->
      <!-- Fourth column -->
      <div class="col-lg-3 col-md-6">
          <!-- Collection card -->
          <div class="card collection-card z-depth-1-half">
              <!-- Card image -->
              <div class="view zoom">
                  <img src="http://everything-pr.com/wp-content/uploads/2015/08/Restaurant.jpg" class="img-fluid" alt="">
                  <div class="stripe light">
                      <a>
                          <p>
                              Restaurant4
                              <i class="fa fa-angle-right"></i>
                          </p>
                      </a>
                  </div>
              </div>
              <!-- Card image -->
          </div>
          <!-- Collection card -->
      </div>
      <!-- Fourth column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Products v.4 -->